# Config
yapf=0.40.2 # yet another python formatter
weakref
uuid

numpy
scipy

# torch
torch=2.3.1 # cuda: 11.8 pip install torch==2.3.1+cu118 torchvision==0.18.1+cu118  -f https://download.pytorch.org/whl/torch_stable.html
timm
torch-geometric

# points
einops
spconv-cu118

# ------------------------to install torch_scatter---------------------------- 
# wget https://data.pyg.org/whl/torch-2.3.0%2Bcu118/torch_scatter-2.1.2%2Bpt23cu118-cp311-cp311-linux_x86_64.whl
# pip install torch_scatter-2.1.2+pt23cu118-cp311-cp311-linux_x86_64.whl
# rm torch_scatter-2.1.2+pt23cu118-cp311-cp311-linux_x86_64.whl
torch_scatter # a lot of bug, reference: https://blog.csdn.net/sxf1061700625/article/details/136384595
# ------------------------to install torch_scatter---------------------------- 

# visualization and logging
open3d
tensorboard
SharedArray

