# py38
conda install pytorch==1.12.1 torchvision==0.13.1 torchaudio==0.12.1 cudatoolkit=11.3 -c pytorch -y

# ------------------------to install torch_scatter---------------------------- 
# wget https://data.pyg.org/whl/torch-2.3.0%2Bcu118/torch_scatter-2.1.2%2Bpt23cu118-cp311-cp311-linux_x86_64.whl
# pip install torch_scatter-2.1.2+pt23cu118-cp311-cp311-linux_x86_64.whl
# rm torch_scatter-2.1.2+pt23cu118-cp311-cp311-linux_x86_64.whl
torch_scatter # a lot of bug, reference: https://blog.csdn.net/sxf1061700625/article/details/136384595
# ------------------------to install torch_scatter---------------------------- 

conda install ninja -y
conda install h5py pyyaml -c anaconda -y
conda install sharedarray tensorboard tensorboardx yapf addict einops scipy plyfile termcolor timm -c conda-forge -y

conda install pytorch-cluster pytorch-scatter pytorch-sparse -c pyg -y
pip install torch-geometric spconv-cu113 open3D
# -----------------------------------------------------------------
pip install flash_atten
# git clone https://github.com/Dao-AILab/flash-attention.git
# cd flash-attention
# python setup.py install
# -----------------------------------------------------------------

# # weaver: floating number core dump, unknown reason
# # py311
# yapf=0.40.2 # yet another python formatter
# weakref
# uuid

# numpy
# scipy

# # torch
# torch=2.3.1 # pip install torch==2.3.1+cu118 torchvision==0.18.1+cu118  -f https://download.pytorch.org/whl/torch_stable.html
# timm
# torch-geometric

# # points
# einops
# spconv-cu113

# # ------------------------to install torch_scatter---------------------------- 
# # wget https://data.pyg.org/whl/torch-2.3.0%2Bcu118/torch_scatter-2.1.2%2Bpt23cu118-cp311-cp311-linux_x86_64.whl
# # pip install torch_scatter-2.1.2+pt23cu118-cp311-cp311-linux_x86_64.whl
# # rm torch_scatter-2.1.2+pt23cu118-cp311-cp311-linux_x86_64.whl
# torch_scatter # a lot of bug, reference: https://blog.csdn.net/sxf1061700625/article/details/136384595
# # ------------------------to install torch_scatter---------------------------- 

# # visualization and logging
# open3d
# tensorboard
# SharedArray